.menu {
	margin-right: 50em;
	margin-top: 5em;
	background-color: blue;
}

.menu li{
	/*margin-left: 50em;*/
	display: inline-block;
	background-color: orange;
}

.table a:hover {
   border: 1px solid yellow;
}