   <div class="login-page">
    <div class="form">
      <form class="login-form">
        <input type="text" placeholder="Email or username" id="login-username"/>
        <input type="password" placeholder="password" id="login-password"/>
        <button id="btn-login">login</button>
        <p class="message">Not registered?<a href="#">&nbsp;&nbsp;Create an account</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="help">Help</a></p>
        <p class="message"></p>
      </form>
      <form class="register-form" style="display: none;">
        <input type="text" placeholder="username" id="signup-username"/>
        <input type="password" placeholder="password" id="signup-password"/>
        <input type="password" placeholder="confirm password" id="signup-confirm-password"/>
        <input type="text" placeholder="email address" id="signup-email"/>
        <button id="btn-signup">sign up</button>
        <p class="message">Already registered?<a href="#">&nbsp;&nbsp;&nbsp;Sign In</a></p>
        <p class="message"><a href="howitworks">Find how it works</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="help">Help</a></p>
      </form>
    </div>
  </div>