<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chefbox</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="css/4-col-portfolio.css" rel="stylesheet" />
    <link href="css/main.css" />
    <link href="css/becomeachef.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  {{> navbar}}

  <form action="success">
  <p>Do you have a rating of 4.0 or higher?<p>
  <select>
    <option value="blank"> </option>
    <option value="yes">Yes</option>
    <option value="no">No</option>
  </select>

  <p>Do you have at least 100 reviews?<p>
  <select>
  <option value="blank"> </option>
    <option value="yes">Yes</option>
    <option value="no">No</option>
  </select>

  <p>Leave a comment below explaining why you deserve to be promoted to chef standing: <p>
   <textarea id = "myTextArea"rows = "8" cols = "80" required> </textarea>
  <br>
  <br>
  <input type = "submit" value="Submit">
  </form>
  {{> footer}}
  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
