<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Chefbox</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet" />

  <!-- Custom CSS -->
  <link href="css/main.css" />

  <!-- Main CSS -->
  <link rel="stylesheet" href="css/sass-compiled.css" />

  <!-- Modrnizr Lib -->
  <script src="libs/modernizr.js" type="text/javascript"></script>

  <!-- Custom CSS -->
  <link href="../css/4-col-portfolio.css" rel="stylesheet">


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  {{> navbar2}}
  <header>
    <h1>Explore the culinary world</h1>
    <p>Discover the best pop-ups and trending chefs around you!</p>
  </header>
  {{#each fooditems}}
  <section class="wrapper cl" id="{{id}}">
    <div class="pic">
      <button style="background: #fff; border: none; text-shadow: none;">
        <img src="{{imageURL}}" class="pic-image" alt="pic" />
        <span class="pic-caption bottom-to-top">
            <h1 class="pic-title">{{headline}}</h1>
        </span>
      </button>
    </div>
  </section>
  {{/each}}

  <!-- Page Content -->
  <div class="container">
    <footer>
      <div class="row">
        <div class="col-lg-12" style="text-align: center;">
          <p>Copyright &copy; Chefbox 2016. All rights reserved.</p>
        </div>
      </div>
    </footer>
  </div>
  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/discover.js"></script>

  <!-- TOUCH FRIENDLY IN MOBILE DEVICES -->
  <script>
    document.addEventListener("touchstart", function(){}, true);
  </script>  
</body>
</html>