<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chefbox</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="css/4-col-portfolio.css" rel="stylesheet" />
    <link href="css/main.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  {{> navbar}}
  <div id="nav">
    <h4>
      <a href ="#" id="help1">&nbsp;&nbsp;&nbsp;Getting Started</a>
      <br><br>
      <a href ="#" id="help2">&nbsp;&nbsp;&nbsp;Finding the right chef</a>
      <br><br>
      <a href ="#" id="help3">&nbsp;&nbsp;&nbsp;Messaging the chef</a>
      <br><br>
      <a href ="#" id="help4">&nbsp;&nbsp;&nbsp;Becoming a Chef</a>
      <br><br>
      <a href ="#" id="help5">&nbsp;&nbsp;&nbsp;How to leave reviews</a>
      <br><br>
      <a href ="#" id="help6">&nbsp;&nbsp;&nbsp;Policies</a>
      <br><br>
      <a href ="#" id="help7">&nbsp;&nbsp;&nbsp;FAQ</a>
      <br><br>
      <a href ="#" id="help8">&nbsp;&nbsp;&nbsp;Contact</a>
    </h4>
  </div>

  {{> footer}}
  
  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
