<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Chefbox</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet" />

  <!-- Custom CSS -->
  <link href="css/4-col-portfolio.css" rel="stylesheet" />
  <link href="css/main.css" />
  <link href="css/login.css" rel = "stylesheet" />

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  {{> navbar}}

  <div class="login-page">
    <div class="form">
      <form class="register-form">
        <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
        <input type="password" placeholder="confirm password"/>
        <input type="text" placeholder="email address"/>
        <button>sign up</button>
        <p class="message">Already registered?<a href="#">&nbsp;&nbsp;&nbsp;Sign In</a></p>
        <p class="message"><a href="howitworks">Find how it works</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="help">Help</a></p>
      </form>
      <form class="login-form" action="profile" method="get" accept-charset="utf-8">
        <input type="text" name="us" placeholder="username" required/>
        <input type="password" name="pwd" placeholder="password" required/>
        <button>login</button>
        <p class="message">Not registered?<a href="#">&nbsp;&nbsp;Create an account</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="help">Help</a></p>
      </form>
    </div>
  </div>

  {{> footer}}
  
  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <script src="js/login.js"></script>

  <script>
    $('.message a').click(function(){
      $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
    });
  </script>
  </body>
</html>
