<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chefbox</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="css/4-col-portfolio.css" rel="stylesheet" />
    <link href="css/main.css" />
    <link href="css/signup.css" rel = "stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="main">Chefbox</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="main">&nbsp;&nbsp;Home</a>
                </li>
                <li>
                    <a href="login">&nbsp;&nbsp;Log In</a>
                </li>
             <!--   <li>
                    <a href="#">&nbsp;&nbsp;Sign Up</a>
                </li>
                <li>
                    <a href="search">&nbsp;&nbsp;Search</a>
                </li>
                <li>
                    <a href="discover">&nbsp;&nbsp;Discover</a>
                </li> -->
                <li>
                    <a href="help">&nbsp;&nbsp;Help</a>
                </li>
                <li>
                    <a href="howitworks">&nbsp;&nbsp;How it Works</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container2">
    <form id="addMemberForm" role="form" method="get" action="/signup">
        Username : <input type="text" id="username" placeholder="eg. joeTheBeanGuy"><br>
        Password : <input type="text" id="pass" placeholder="********"><br><br>
        <p> please enter your street address and stuff </p>
        Address1 : <input type="text" id="add1" placeholder="street, apt unit">
        <p> please enter the city you live in</p>
        Address2 : <input type="text" id="add2" placeholder="city "><br><br>
        Countries: <select name="countries">
                    <option value="AF">Afghanistan</option>
                    <option value="ALB">Albania</option>
                    <option value="ALG">Algeria</option>
                    <option value="AND">Andorra</option>
                    <option value="ANG">Angola</option>
                    <option value="ANT">Antigua and Barbuda</option>
                    <option value="ARG">Argentina</option>
                    <option value="ARU">Aruba</option>
                    <option value="AU">Australia</option>
                    <option value="AUS">Austria</option>
                    <option value="AZ">Azerbaijan</option>
                    <option value="BAH">Bahamas, The</option>
                    <option value="BHR">Bahrain</option>
                    <option value="BAN">Bangladesh</option>
                    <option value="BAR">Barbados</option>
                    <option value="BLR">Belarus</option>
                    <option value="BLG">Belgium</option>
                    <option value="BEL">Belize</option>
                    <option value="BEN">Benin</option>
                    <option value="BHU">Bhutan</option>
                    <option value="BOL">Bolivia</option>
                    <option value="BOT">Botswana</option>
                    <option value="BRA">Brazil</option>
                    <option value="BRU">Brunei</option>
                    <option value="BUL">Bulgaria</option>
                    <option value="BRK">Burkina Faso</option>
                    <option value="BUR">Burma</option>
                    <option value="BU">Burundi</option>
                    <option value="CAM">Cambodia</option>
                    <option value="CAMR">Cameroon</option>
                    <option value="CAN">Canada</option>
                    <option value="CAPE">Cape Verde</option>
                    <option value="CAR">Central African Republic</option>

                </select>
        <input type="submit" id="submitBtn" class="btn btn-default" value="Submit">

    </form>
    <footer>
        <div class="row">
            <div class="col-lg-12" style="text-align: center;">
                <p>Copyright &copy; Chefbox 2016. All rights reserved.</p>
            </div>
        </div>
    </footer>
</div>
<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>
